{% extends "swapp/source.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
    <div class="p-5">
        <a class="btn btn-primary my-3" href="/write" role="button">Write a message</a><br>
        {% for msg in chat %}
            <p class="badge badge-pill badge-dark mb-3">{{msg.date}}</p>
            <h5>{{msg.title}}</h5>
            <p>{{msg.text}}</p>
            <hr class="my-2">
        {% endfor %}
    </div>
{% else %}
    <div class="jumbotron mb-0">
        <h1 class="display-4">
            <a href="{% url 'login' %}">Log in or register first.</a>
        </h1>
    </div>
{% endif %}
{% endblock %}